body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
    background-image: url('images/30Rock.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.start {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: black;
    color: white;
    box-shadow: 3px 3px rgba(68, 68, 68, .3);
    border: 3px solid rgba(68, 68, 68, .8);
    font-size: 15px;
    font-weight: bold;
}

.start:focus {
    outline: none;
}

.start:hover {
    background-color: gray;
}

.score {
    margin-top: 20px;
    font-weight: bold;
}

.grid {
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid gray;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
}

.grid div {
    width: 10%;
    height: 10%;
}

.kenneth {
    background-image: url('images/kenneth-head.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.peacock {
    background-image: url('images/peacock.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-wrapper {
    display: none;
}

@media only screen and (max-width: 600px) {
    .grid {
        width: 350px;
        height: 450px;
    }
    .btn-wrapper {
        display: block;
        margin: 30px auto;
        text-align: center;
    }
    .side-wrapper {
        display: inline-flex;
        flex-wrap: wrap;
        max-width: 300px;
        min-width: 200px;
        justify-content: center;
    }
    .up p {
        transform: rotate(180deg);
        padding: 0;
        margin: 0;
    }
    .up,
    .down {
        margin: 0 auto;
    }
    .left,
    .right {
        margin: 5px auto;
    }
    .left,
    .right,
    .up,
    .down {
        font-size: 35px;
        color: white;
        height: 40px;
        width: 40px;
        background-color: black;
        border-radius: 10px;
        line-height: 40px;
        box-shadow: 3px 3px rgba(68, 68, 68, .3);
        border: 3px solid rgba(68, 68, 68, .8);
    }
    .left:hover,
    .right:hover,
    .up:hover,
    .down:hover {
        cursor: pointer;
        background-color: gray;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .landscape-mode {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .screen {
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .controllers {
        margin: auto 0 auto 70px;
    }
    .grid {
        width: 400px;
        height: 350px;
    }
    .btn-wrapper {
        display: block;
        margin: 30px auto;
        text-align: center;
    }
    .side-wrapper {
        display: inline-flex;
        flex-wrap: wrap;
        max-width: 300px;
        min-width: 200px;
        justify-content: center;
    }
    .up p {
        transform: rotate(180deg);
        padding: 0;
        margin: 0;
    }
    .up,
    .down {
        margin: 0 auto;
    }
    .left,
    .right {
        margin: 5px auto;
    }
    .left,
    .right,
    .up,
    .down {
        font-size: 35px;
        color: white;
        height: 40px;
        width: 40px;
        background-color: black;
        border-radius: 10px;
        line-height: 40px;
        box-shadow: 3px 3px rgba(68, 68, 68, .3);
        border: 3px solid rgba(68, 68, 68, .8);
    }
    .left:hover,
    .right:hover,
    .up:hover,
    .down:hover {
        cursor: pointer;
        background-color: gray;
    }
}